/*CSS for the Meeting Minutes webpage.*/
* {
    /* third-party font */
    font-family: "Source Code Pro", sans-serif;
}

body { 
    background-color: rgb(0, 0, 0); 
    margin: 0;
} 

div.navbar {
    /* flex attributes */
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;

    background-color: blue;
    background: #07043b;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
}

.navbar a {
    padding: 1.125rem;
}

.navbar a:hover {
    color: blue;
    background-color: white;
}

h1, form {
    margin-left: 15pt;
    margin-right: 15pt;
    position: relative;
}

h1:has(+ form) {
    color: lightblue;
    font-size: 0.417in;
}

.title-text {
    margin-top: 70px;
}

.meeting > h2 { 
    color: hsl(120, 25%, 65%);
    font-size: 3em;
    margin-top: 10px;
} 

.dummy {
    display: none;
}

.dummy + h3 { 
    color: color(from green srgb r g b / 0.9);
    margin-top: 0;
} 

li { 
    color: #ffffff;
    margin: auto;
}

details li {
    margin-left: 200px;
}

h3 ~ h4 {
    color: color-mix(in lch, plum, pink);
}

summary {
    color: var(--summary-color, red);
}

a {
    color: yellow;
}

.list-title {
    font-size: 18px;
    color: lightskyblue;
}

[class*="col"] {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 40px;
}

.meeting {
    padding: 0px 20px 20px 20px;
    border-color: white;
    border-style: ridge;
    border-width: 1lh;
    display: block;
}

.content {
    clear: left;
    display: flex;
    justify-content: space-evenly;
}

.info {
    padding-right: 50px;
    float: left;
}

.attendance {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 25px;
}

.info::after, .attendance::after {
    content: "\a";
    white-space: pre;
}

.subtitle {
    float: left;
    padding-right: 20px;
}

footer {
    display: none;
}

video {
    width: 100%;
    height: 56%;
}

#govt-button {
    font-weight: bold;
}

#govt-button:active {
    color: white;
    border: 2px solid red;
    background-image: url(assets/fire.jpg);
}

form {
    color: white;
    text-align: center;
    text-decoration: underline;

    /* grid attributes */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;

    & div {
        border: 1px solid white;
        border-radius: 10px;
    }
}

fieldset {
    padding: 0;
    margin: 0;
    max-width: 50%;
    border-radius: 10px;
}

textarea {
    max-width: 95%;
    margin-top: 10px;
}

.top-left {
    grid-column: 1;
    grid-row: 1;
}
  
.top-right {
    grid-column: 2;
    grid-row: 1;
}
  
.bottom-left {
    grid-column: 1;
    grid-row: 2;
}
  
.bottom-right {
    grid-column: 2;
    grid-row: 2;
}

.top-left *, .top-right *, .bottom-left *, .bottom-right * {
    margin: 0px 0px 20px 10px;
}

@media only screen and (max-width: 1000px) {
    .navbar, h3, h4 {
        font-size: 30px;
    }

    .info, .subtitle {
        float: none;
        max-width: 100%;
    }

    .attendance {
        font-size: 20px;
        margin: 5px;
    }

    li, details li {
        margin-left: 15%;
    }
    
    .content {
        display: block;
    }
    
    form {
        display: block;
        font-size: 25px;
    }

    button {
        width: 80%;
        height: 50px;
    }

    video {
        max-width: 100%;
        max-height: 56%;
    }
}
